@import "../../../variables.css";

.text {
  color: var(--color-gray);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  font-stretch: var(--font-stretch);
  line-height: var(--line-height-small);
  letter-spacing: var(--letter-spacing);
  white-space: pre-wrap;
}
