@import "../../../variables.css";

.primary-button {
  width: 141px;
  height: 36px;
  padding: 0 8px;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 var(--color-shadow-dark);
  background-image: linear-gradient(
    to bottom,
    var(--color-regular),
    var(--color-primary)
  );
  background-color: var(--color-primary);
  border: none;

  color: var(--color-white);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  font-stretch: var(--font-stretch);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);

  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-button:hover,
.primary-button:active {
  background-image: linear-gradient(
    to top,
    var(--color-regular),
    var(--color-primary-medium),
    var(--color-primary)
  );
}
