.form-field {
  display: flex;
  flex-direction: column;
}

.form-field__title {
  margin-bottom: 8px;
}

.form-field__container {
  display: flex;
  justify-content: flex-start;
}

.form-field__item {
  width: 410px;
}

.form-field__info {
  margin-left: 25px;
  margin-top: 7px;
  flex: 1 0 auto;
}
