.icon {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.icon_clip.icon_default {
  background-image: url("./resources/clip_white.svg");
}

.icon_clip.icon_regular {
  background-image: url("./resources/clip_regular.svg");
}

.icon_clip.icon_destructive {
  background-image: url("./resources/clip_destructive.svg");
}

.icon_info {
  background-image: url("./resources/info.svg");
}

.icon_success {
  background-image: url("./resources/success.svg");
}

.icon_error {
  background-image: url("./resources/error.svg");
}

.icon_location {
  background-image: url("./resources/location.svg");
}

.icon_phone {
  background-image: url("./resources/phone.svg");
}
