@import "../../../variables.css";

.photo-button {
  width: 178px;
  height: 36px;
  position: relative;
}

.photo-button__stub {
  display: inline-block;
  background: var(--color-white);
}

.photo-button__input {
  position: absolute;
  width: 178px;
  height: 36px;
  top: 0;
  left: 0;
  z-index: -1;
}
