@import "../../../variables.css";

.photo-preview {
  width: 410px;
  height: 60px;
  display: flex;
  max-width: 410px;
  justify-content: flex-start;
}

.photo-preview__image {
  flex: 0 0 20%;
  align-self: center;
  height: 100%;
  display: flex;
}

.photo-preview__data {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 10px;
  max-width: calc(80% - 10px);
}

.photo-preview__title {
  color: var(--color-regular);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  font-stretch: var(--font-stretch);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.photo-preview__delete {
  border-radius: 0;
  border: none;
  border-bottom: 1px dotted var(--color-destructive);
  background: none;
  padding: 0;

  color: var(--color-destructive);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  font-stretch: var(--font-stretch);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

.photo-preview__delete:hover,
.photo-preview__delete:active {
  border-color: var(--color-destructive-dark);
  color: var(--color-destructive-dark);
}
