@import "../../../variables.css";

.fake-button {
  width: 178px;
  height: 36px;
  border-radius: 3px;
  border: 1px solid var(--color-regular);
  background: var(--color-white);
  padding: 0 8px;

  color: var(--color-regular);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  font-stretch: var(--font-stretch);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);

  display: flex;
  justify-content: center;
  align-items: center;
}

.fake-button_destructive {
  color: var(--color-destructive);
  border-color: var(--color-destructive);
}

.fake-button:hover {
  background: var(--color-regular);
  color: var(--color-white);
}

.fake-button:active {
  background: var(--color-regular-dark);
  border-color: var(--color-regular-dark);
  color: var(--color-white);
}

.fake-button_destructive:hover {
  background: var(--color-destructive);
}

.fake-button_destructive:active {
  background: var(--color-destructive-dark);
  border-color: var(--color-destructive-dark);
}

.fake-button__icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 7px;
}

.fake-button__icon_colored {
  display: inline-block;
}

.fake-button__icon_white {
  display: none;
}

.fake-button:active .fake-button__icon_colored,
.fake-button:hover .fake-button__icon_colored {
  display: none;
}

.fake-button:active .fake-button__icon_white,
.fake-button:hover .fake-button__icon_white {
  display: inline-block;
}
