:root {
  --color-white: #ffffff;
  --color-gray: #68717c;
  --color-dark: #1b2834;

  --color-shadow: rgba(27, 40, 52, 0.08);
  --color-shadow-dark: rgba(27, 40, 52, 0.16);
  --color-gray-transparent: rgba(27, 40, 52, 0.01);
  --color-gray-light: #d4d8db;

  --color-regular: #2d74da;
  --color-regular-dark: #1c5bb5;
  --color-destructive: #fa5e5b;
  --color-destructive-dark: #d24f4c;
  --color-primary: #2367c8;
  --color-primary-medium: #276ccf;
  --color-success: #16c98d;

  --font-family: "Source Sans Pro", sans-serif;
  --font-size: 14px;
  --font-size-big: 24px;
  --font-weight: normal;
  --font-weight-bold: 600;
  --font-style: normal;
  --font-stretch: normal;
  --line-height: normal;
  --line-height-small: 22px;
  --line-height-big: 38px;
  --letter-spacing: normal;
}
