@import "../../../variables.css";

.validation-message {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-gray);
}

.validation-message_success {
  color: var(--color-success);
}

.validation-message_error {
  color: var(--color-destructive);
}

.validation-message__icon {
  width: 18px;
  height: 18px;
  margin: 2px 4px 0 0;
}

.validation-message__text {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-style: var(--font-style);
  font-stretch: var(--font-stretch);
  line-height: var(--line-height-small);
  letter-spacing: var(--letter-spacing);
}
