.announcement {
  display: flex;
  justify-content: space-between;
}

.announcement__left-side {
  flex: 0 0 330px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.announcement__text {
  margin-top: 2px;
}

.annoumcement__image {
  margin-top: 6px;
  width: 100%;
  height: 250px;
  background: lightgreen;
}

.announcement__right-side {
  flex: 0 0 178px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.announcement__contacts {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.announcement__location {
  margin-top: 13px;
}

.announcement__delete {
  margin-top: 14px;
}
